body {
    background: #E8FBFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 1em;
    width: 100%;
    /* position: fixed; */
}

.page {
    background: #D6F8FF;
    width: 80%;
    display: inline-block;
    text-align: left;
    top: 200px;
    padding: 5px;
}

.header {
    width: 100%;
    background-color: #BBF3FF;
    text-align: left;
    text-indent: 1%;
    position: sticky;
    top: 0px;
}

.coronafriends {
    padding: 0px;
    margin: 0px;
    font-size: 3.5em;
}

.homeicon {
    font-size: 5em;
    padding: 0%;
    margin: 0%;
}

@media only screen and (max-width: 500px) {
    .coronafriends {
        font-size: 2.5em;
    }
    .homeicon {
        font-size: 3.5em;
        padding: 1px 5px;
    }
}

.profpic {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 0px;
    margin: 5px;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

table, th, td {
    border: 1px solid black;
}

.navbar {
    text-align: center;
    width: 100%;
    background-color: #BBF3FF;
    border-color: transparent;
    box-shadow: none;
}

.navbar a {
    color: black;
    width: 100px;
}

@media only screen and (max-width: 500px) {
    .signin-modal {
        width: 80%;
    }
}

.signin-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    font-size: 2.5em;
    padding: 10px;
}

.post-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px;
    max-width: 500px;
    width: 100%;
}

.closemodal {
    float: right;
    background: transparent;
    border: transparent;
}

firebaseui-auth-container {
    background-color: #0006DB;
}

.posting {
    background-color: #BBF3FF;
    display: inline-block;
    margin: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    min-width: 200px;
}

.postingtype {
    margin: 0px;
    font-size: large;
}

.postingtext {}

.postingaccept {
    color: black;
    background-color: #BBF3FF;
    border-color: #BBF3FF;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
}

.postingaccept:hover {
    background-color: #0006DB;
    color: #BBF3FF
}

.category-button {
    padding:50px;
    background-color: #BBF3FF;
    color: black;
    display: inline-block;
    margin: 20px;
    /* padding: 10px 5px; */
    border-radius: 15px;
    min-width: 200px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    font-size: 2em;
}

.category-button:hover {
    background-color: #0006DB;
    color: #BBF3FF;
}